# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Python packaging
pip-wheel-metadata/

# MACOS
__MACOSX